
.submissions .submission {
  --transition-speed: 0.5s;
  display: block;

  margin-bottom: 1rem;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 1rem;

  cursor: pointer;

  transition: margin var(--transition-speed);

  &.preferred {
    margin-left: 2rem;
    margin-right: 2rem;
    background: rgba(0, 0, 0, 0.05);

    .preferred-icon {
      opacity: 1;

      > i {
        transform: rotate(360deg);
      }
    }
  }

  .preferred-icon {
    > i {
      transition: transform var(--transition-speed);
    }

    transition: opacity var(--transition-speed);
    opacity: 0;
    color: #e0c840;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > :first-child {
    margin-top: 0;
  }

  .headline,
  .footer {
    display: flex;

    .title,
    .track {
      flex-grow: 1;
    }
  }

  .description {
    display: none;
  }

  .track {
    color: var(--track-color);
  }
}
