.title {
  display: flex;

  h2 {
    flex-grow: 1;
  }
}

.submissions .submission {
  max-width: 50rem;

  .headline,
  .footer {
    display: flex;

    .title,
    .track {
      flex-grow: 1;
    }
  }
}
