{% extends "common/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Halfnarp" %} ::{% endblock %}

{% block custom_header %}
    <link rel="stylesheet" type="text/css" href="{% static "pretalx_halfnarp/frontend.css" %}"/>
    <script defer src="{% static "js/jquery.js" %}"></script>
    <script defer src="{% static "pretalx_halfnarp/frontend.js" %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <h1>{% translate "Presentation Preference" %}</h1>
    <p>
        {% blocktranslate trimmed %}
            Thank you for helping us plan a better program for the upcoming event.
        {% endblocktranslate %}
    </p>
    {% if voting_is_enabled %}
        <p>
            {% blocktranslate trimmed %}
                In the list below you will find all the submissions we have accepted for the event.
                By marking the submissions that seem to be the most interesting for you personally, you will help us to choose rooms
                for the submissions that match the interest.
            {% endblocktranslate %}
        </p>

        <div class="submissions">
            {% for submission in submissions %}

                <div class="submission{% if submission.id in preferred_submissions %} preferred{% endif %}"{% if submission.track %} style="--track-color: {{submission.track.color}}"{% endif %} data-id="{{submission.id}}">
                    <div class="headline">
                        <h2 class="title">{{submission.title}}</h2>
                        <div class="preferred-icon" title="{% translate "Preferred" %}">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                    {% if submission.abstract %}
                        <p class="abstract">{{submission.abstract}}</p>
                    {% endif %}
                    {% if submission.speakers %}
                        <p class="speakers">{{submission.display_speaker_names}}</p>
                    {% endif %}

                    <div class="footer">
                        <div class="track">
                            {% if submission.track %}
                                Track: <span class="track">{{submission.track}}</span>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>
                        <a href="{{submission.urls.review}}" target="_blank">{% translate "More info" %}</a>
                    </div>
                </div>

            {% empty %}

                <p class="no-submissions">
                    {% blocktranslate trimmed %}
                        This event does not have any submissions yet.
                    {% endblocktranslate %}
                </p>

            {% endfor %}
        </div>
    {% else %}
        <p>
            {% blocktranslate trimmed %}
                The voting period has ended.
            {% endblocktranslate %}
        </p>
    {% endif %}
{% endblock %}
