{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load rules %}
{% load static %}
{% load url_replace %}

{% block stylesheets %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "pretalx_halfnarp/organiser.scss" %}"/>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="row align-items-start">
    <div class="col">
        <h2>{% translate "Most Preferred Submissions" %}</h2>
        <p>
            {% blocktranslate trimmed %}
            The following Submissions have been voted the most (in descending order).
            {% endblocktranslate %}
        </p>
        <div class="submissions">
            {% for info in most_preferred_submissions %}
                <div class="submission card mb-3">
                    <div class="card-body">
                        <div class="card-title headline">
                            <h2 class="title">{{info.submission.title}}</h2>
                            <span class="counter">Votes: {{info.count}}/{{num_preferences}}</span>
                        </div>
                        <p class="speakers">{{info.submission.display_speaker_names}}</p>
                        <div class="footer">
                            <div class="track">Track: <span class="track">{{info.submission.track}}</span></div>
                            <a href="{{info.submission.orga_urls.base}}" target="_blank">{% translate "More info" %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <h2>{% translate "Most Correlated Talks" %}</h2>
    </div>
</div>
{% endblock %}
